@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controllers and actions</title>
</head>
<body class="m-1 p-1">
        Model data: @Model
</body>
</html>
